---
import { Image } from 'astro:assets';

interface Props {
	name: string;
	href: string;
	img_url: string
}

const { href, name, img_url } = Astro.props;
---

<div class='bg-white flex flex-col gap-y-5 items-center rounded-md shadow-xl p-3 w-72 h-96 relative'>
	<Image src={img_url} width={180} height={180} alt='product image' />
	<h3 class='font-semibold text-xl text-center'>{name}</h3>

	<a href={href} class="opacity-90 hover:opacity-100 bg-primary py-2 px-8 font-semibold text-white rounded-md text-lg absolute bottom-3">
		Detalles
	</a>
</div>