---
import { Image } from 'astro:assets';
import { SideMenu } from './side-menu';
---

<nav class='bg-white w-full flex justify-between items-center py-2 px-4 shadow-lg' >
     <div class='flex gap-x-3'>
        <div>
            <SideMenu client:visible />
        </div>
        
        <a href="/">
            <Image src='/logos/icon.png' alt='Neumática valencia icono' width="45" height="45"/>
        </a>
     </div>

    <ul class='flex font-bold gap-x-4 text-xs sm:text-base'>
        <li class='hover:text-primary cursor-pointer'>
            <a href='/'>
                Productos
            </a>
        </li>
        <li class='hover:text-primary cursor-pointer'>
            <a href='/sobre-nosotros'>
                Sobre Nosotros
            </a>
        </li>
        <li class='hover:text-primary cursor-pointer'>
            <a href="#contacto">Contacto</a>
        </li>
    </ul>
</nav>